# Next.js
.next/
out/

# Dependencies
node_modules/
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Misc
*.local

#Agents
AGENTS.md

#Landing Page Design
landing_redesigned.html